body {
    font-family: 'Poppins', sans-serif;
    color: #000;
}
p {
    color: #515151;
}
a.btn {
    background: #000000;
    border-radius: 30px;
    padding: 10px 35px;
}
.divider {
    height: 2px;
    width: 15px;
    display: block;
    background-color: #000;
}

@media screen and (max-width: 575.98px) {
    a.btn {
        padding: 6px 20px;
    }
}